* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

title {
    display: none;
}

/* Header */
header {
    text-align: center;
}

form {
    display: inline-block;
}

#step {
    margin-bottom: 30px;
}

/* Main */
body {
    margin: 0;
}

main {
    min-width: max-content;
}

.cell {
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: gray;
    display: inline-block;
    margin: 0;
    position: relative;
}

.grid {
    display: block;
    text-align: center;
    margin: -14px;
}
