* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

html {
    font-size: 16px;
}

/* Header */
.header-button {
    font-size: 1.5rem;
    background-color: rgb(187, 248, 187);
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.125rem gray;
}

.header-button:hover {
    background-color: rgb(98, 209, 98);
    cursor: pointer;
}

.header-button:active {
    background-color: rgb(98, 209, 98);
    box-shadow: 0.125rem 0.125rem .0125rem rgb(107, 107, 107);
    transform: translate(0.0625rem, 0.0625rem);
}

#button-container {
    visibility: hidden;
    opacity: 0;
    display: flex;
    width: 34rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -17rem;
    justify-content: space-around;
    align-items: center;
}

#welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-container, #button-container {
    height: 8rem;
}

#welcome {
    text-align: center;
    font-size: 3.25rem;
}

/* Main */
body {
    margin: 0;
    text-align: center;
    background-color: #e2e2e2;

}

main {
    min-width: max-content;
}

ol {
    width: 37rem;
    text-align: left;
    font-size: 1.875rem;
    font-weight: bold;
    margin: 0 5% 0 0;
    z-index: -1;
}

li {
    text-align: left;
    font-weight:normal;
    font-size: 1.25rem;
    z-index: -1;
}

.cell {
    width: 0.3125rem;
    height: 0.3125rem;
    padding: 0;
    background-color: gray;
    display: inline-block;
    margin: 0;
    z-index: 3;
    position: relative;
}

.grid {
    height: 0.3125rem;
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
}

#game-window {
    visibility: hidden;
    opacity: 0;
    width: 75rem;
    height: 50rem;
    position: absolute;
    top: 7rem;
    left: 50%;
    margin-left: -37.5rem;
    z-index: 2;
}

#intro-container {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto auto auto;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

/* Particle Button Animation */
:root {
    --color: #ff6464;
    --backgroundcolor: #b14848;
}

.particle-button{
    z-index: 3;
    display: inline-block;
    font-size: 2.5rem;
    padding: 2.5rem 5rem;
    margin-top: 6.25rem;
    margin-bottom: 3.75rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.1s;
    box-shadow: 0 .125rem 3.125rem var(--backgroundcolor);
}
    
.particle-button:focus {
    outline: 0;
}
    
.particle-button:before, .particle-button:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
    
.particle-button:before{
    display: none;
    top: -75%;
    background-image:  
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, var(--color) 20%, transparent 30%),
    radial-gradient(circle, var(--color) 20%, transparent 20%), 
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, var(--color) 15%, transparent 20%),
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle, var(--color) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}
    
.particle-button:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, var(--color) 20%, transparent 20%), 
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, var(--color) 15%, transparent 20%),
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle, var(--color) 20%, transparent 20%),
    radial-gradient(circle, var(--color) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
   
.particle-button:active{
    transform: scale(0.9);
    background-color: darken(rvar(--color), 5%);
    box-shadow: 0 .125rem 1.5625rem var(--backgroundcolor);
}
    
    
.particle-button.animate:before{
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.particle-button.animate:after{
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
  
  
  
@keyframes topBubbles {
    0%{
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}
  
@keyframes bottomBubbles {
    0%{
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
   100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}

/* Responsive for different resolutions */
@media (min-width: 2400px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 2880px) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 3360px) {
    html {
        font-size: 28px;
    }
}

@media (min-width: 3840px) {
    html {
        font-size: 32px;
    }
}